openapi: 3.0.0
info:
  description: "{{ .Config.Description }}"
  version: "{{ .Config.Version }}"
  title: "{{ .Config.Title }}"
{{- if .IsBearer }}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
{{- end}}
{{- if .IsBasic }}
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
security:
  - basicAuth: []
{{- end}}
{{- if .IsApiKey }}
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Keay
security:
  - apiKeyAuth: []
{{- end}}
servers:
  - url: "{{ .Config.BasePath }}"
tags:
{{ range $_, $e := .SortedEntities }}
- name: "{{ $e.Group }}"
  description: ""
{{ end }}
paths:
{{- range $_, $e := .SortedEntities }}
{{- range $path, $resources := $e.Entity }}
  {{ $path | RemovePathPrefix}}:
    {{- range $kk, $resource := $resources }}
    {{ $resource.Method | ToLower }}:
      tags:
      - "{{ $e.Group }}"
      summary: "{{ $resource.Name }}"
      {{- if or $resource.Parameters $resource.Body.Params $resource.Headers $resource.Body.MimeType }}
      {{- if $resource.Body.MimeType }}
      description: "{{ $resource.Description | UnescapeHTML }}"
      {{- end }}
      parameters:
      {{- if $resource.Body.MimeType }}
      - name: "body"
        in: "body"
        schema:
          type: "string"
        description: "request body"
        required: true
      {{- end }}
      {{- range $p, $param := $resource.Parameters}}
      - name: "{{ $param.Name }}"
        in: "query"
        schema:
          type: "string"
        description: ""
        required: false
      {{- end }}
      {{- range $p, $param := $resource.Headers}}
      - name: "{{ $param.Name }}"
        in: "header"
        schema:
          type: "string"
        description: ""
        required: true
      {{- end }}
      {{- end }}
      responses:
        200:
          description: "successful operation"
    {{- end }}
{{- end }}
{{- end }}
